.Todo{
    margin-bottom: 20px;
    display: flex;

    .todo-text{
        width: 280px;
        height: 28px;
        line-height: 28px;
        background: #fff;
        padding: 0 5px;
    }
    .completed{
        opacity: 0.7;
        text-decoration: line-through;
    }
    .completed-btn, .delete-btn{
        width: 25px;
        height: 28px;
        cursor: pointer;
        text-align: center;
        color: #fff;
        .fas{
            font-size: 11px;
        }
    }
    .completed-btn{
        background: rgb(122, 243, 122);
    }
    .delete-btn{
        background: rgb(182, 4, 4);
    }

}