@import '../../theme';

/*=========================
    SECTION TWO
==========================*/
.section-two{
    position: relative;
    padding-bottom: 30px;
    .container{

        img{
            max-width: 150px;
            display: block;
            margin: auto;
            box-shadow: 2px 2px 2px 2px rgb(192, 192, 192);
        }
        .p-container{
            text-align: center;
            padding: 25px;

            p{
                font-size: 14px;
            }
        }
    }

    .yellow-effect-btn{
        @include yellow-effect-btn;
        position: absolute;
        bottom: 6vh;
        right: 100px;
    }               
}
@media screen and (min-width: 400px) and (max-width: 700px){
    .section-two{
        .container{
            .p-container{
                max-width: 400px;
                margin: auto;
                
            }
        }
    }
}
@media screen and (min-width: 700px){
    .section-two{
        height: 100vh;
        .container{
            position: relative;
            height: 60vh;
            margin: 0 10%;

            img{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                max-width: 40%;

            }
            .p-container{
                position: absolute;
                padding: 5px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background: #fff;
                width: 70%;
                margin: 0;
                border: solid 3px $yellow;
            }
        }
    }
}
@media screen and (min-width: 992px){
    .section-two{
        .container{
            margin: 0 15%;

            .p-container{
                p{
                    font-size: 16px;
                }
            }
        }
    }
}
@media screen and (min-width: 1200px){
    .section-two{
        .container{
            margin: 0 20%;

            .p-container{
                p{
                    font-size: 17px;
                }
            }
        }
    }
}