<<<<<<< HEAD
*{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

=======
.App{
    width: 100vw;
    height: 100vh;
    background: #000;
    background-image: linear-gradient(to top,#ff4b2b , #ff416c );
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        color: #fff;
        font-size: 40px;
    }
>>>>>>> 5ef3b85eb038b1fb99691f311b1ef458146846f2
}